@model Extratistico.Models.Entidades.AutenticacaoViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/Master.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/ImageCheckBox.js")"></script>

 <div class = "content"> 
 <img src="../../../../Content/Images/user-64.png" alt="" class="content-img"/>    
     <h2>Editando Usuário: @Html.Label(Model.UserName)</h2>
     <p>
        Preencha os campos abaixo para efetuar a Edição de Usuário.
    </p>
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(false, "Os seguintes erros ocorreram durante o cadastro:")

        <fieldset>
        <div class="editor-div">
                        <div class="editor-label">
                            @Html.HiddenFor(model => model.UserName)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Nome)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Nome)
                            @Html.ValidationMessageFor(model => model.Nome, "*")
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email, "*")
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Senha)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.Senha)
                            @Html.ValidationMessageFor(model => model.Senha, "*")
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ConfirmarSenha)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.ConfirmarSenha)
                            @Html.ValidationMessageFor(model => model.ConfirmarSenha, "*")
                        </div>
                        <br />
                        <div class="editor-label">
                            @Html.Raw(Html.ImageCheckBox(Model.Status))
                            @Html.CheckBoxFor(model => model.Status, new { @class = "imagecheckbox" })
                            @Html.LabelFor(model => model.Status)
                        </div>
                        <br />
                        <br />
                        <p>
                            @Html.Raw(Html.Button(HtmlHelpers.TypeButton.Submit, "../../../../Content/Images/salvar-20.png", "save", "Salvar"))
                            @Html.Raw(Html.Button(HtmlHelpers.TypeButton.Back, "../../../../Content/Images/voltar-20.png", "", ""))
                        </p>
                        </div>
                        <div id="perfis">
                            <div class="editor-label">
                                @Html.Label("Perfis Habilitados")
                            </div>
                            @for (int i = 0; i < Model.PerfilList.Count; i++)
                            {
                                <div class="editor-field">
                                    @Html.Raw(Html.ImageCheckBox(Model.PerfilArrayBool[i]))
                                    @Html.CheckBoxFor(model => model.PerfilArrayBool[i], new { @class = "imagecheckbox" })
                                    @Html.Label(Model.PerfilList[i].Descricao, new { @for = "PerfilArrayBool_" + @i + "_" })
                                </div>
                            }
                        </div>

        </fieldset>
    
    }
</div>
