@model Extratistico.Areas.Cadastros.Models.Entidades.CategoriaVM

@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/Master.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="../../../../Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>

<div class="content">
    <img src="../../../../Content/Images/Categoria-64.png" alt="" class="content-img" />
    <h2>Cadastrar Categoria</h2>
    <p>
        Preencha as informações da nova categoria abaixo
    </p>
    @using (Html.BeginForm())
    { 
        @Html.ValidationSummary(false, "Os seguintes erros ocorreram durante o cadastro:")

        <fieldset>
            <div class="editor-div">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Descricao)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Descricao)
                    @Html.ValidationMessageFor(model => model.Descricao, "*")
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Categoria)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Categoria)
                    @Html.ValidationMessageFor(model => model.Categoria, "*")
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Desconsiderar)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.Desconsiderar)
                    @Html.ValidationMessageFor(model => model.Desconsiderar, "*")
                </div>
                <br />
                <br />
                <p>
                    @Html.Raw(Html.Button(HtmlHelpers.TypeButton.Submit, "../../../../Content/Images/salvar-20.png", "save", "Salvar"))
                    @Html.Raw(Html.Button(HtmlHelpers.TypeButton.Back, "../../../../Content/Images/voltar-20.png", "", "Voltar"))
                </p>
            </div>
        </fieldset>
    }
</div>

