@model IEnumerable<Extratistico.Areas.Cadastros.Models.Entidades.CategoriaVM>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
</head>

<div class="content">

        <img src="../../../../Content/Images/Categoria-64.png" alt="" class="content-img" />
        <h2>Categorias</h2>
        <p>Selecione a categoria desejada abaixo</p>

    <div class="options-list">
        @Html.Raw(Html.Button(HtmlHelpers.TypeActionLink.Normal,"../../../../Content/Images/add-20.png",Html.ActionLink("Cadastrar","Cadastrar")))
    </div>

    @Html.Grid(Model).Columns(column =>
    {
        column.Add(c => c.Descricao).Titled("Descricao").Filterable(true);
        column.Add(c => c.Categoria).Titled("Categoria").Filterable(true);
        column.Add(c => c.Desconsiderar).Titled("Desconsiderar").Filterable(true);
        column.Add().Encoded(false)
        .Sanitized(false).Titled("Options")
        .RenderValueAs(c => Html.ActionLink("Excluir", "Excluir", "Categoria", new { codigo = c.Codigo }, new { onclick = "return confirm('Confirma a exclusão desta categoria? Estabelecimentos e gastos relacionados a ela perderão a referência!');" }) + " " + Html.ActionLink("Editar", "Editar", "Categoria", new { codigo = c.Codigo }, null));
    }).Sortable(true).WithPaging(20).WithMultipleFilters()

</div>